.SideDrawer {
    position: fixed;
    width: 280px;
    max-width: 70%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 200;
    background-color: white;
    padding: 32px 16px;
    box-sizing: border-box;
    transition: transform 0.3s ease-out; /* This is important for opening and closing the SideDrawer*/
}

@media (min-width: 500px) {
    .SideDrawer {
        display: none;    /* If we have a mobile device that its screen exceeds the 500px, then the sideDrawer doesn't have to show*/
    }
}

.Open {
    transform: translateX(0);  /* This set up the SideDrawer in the position that we described above*/
}

.Close {
    transform: translateX(-100%); /* This shift the sidedrawer to the left*/
}

.Logo {
     height: 11%;
     margin-bottom: 32px;
}


